.btnLOGIN:hover{
    -fx-background-color: linear-gradient(#f56a4b, #d73826);
    -fx-cursor: hand;
}
.btnLOGIN{
    -fx-background-color: linear-gradient(#f24537, #c62d1f); 
}
.btnLOGIN:pressed {
    -fx-background-color: linear-gradient(#d73826, #f56a4b);
    -fx-opacity: 0.7;
}
.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: linear-gradient(#f24537, #c62d1f);
}
.back {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-radius: 20px;
    -fx-border-color: rgba(242, 69, 55, 0.6);
    -fx-border-width: 1px;
    -fx-padding: 5px;
}
.back:hover {
    -fx-background-color: linear-gradient(#d73826, #f56a4b);
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-border-color: rgba(242, 69, 55, 0.6);
    -fx-border-width: 1px;
    -fx-padding: 5px;
}
.textField{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .3px;
}
.textField:focused{
    -fx-background-color: #fff;
    -fx-border-width: 1px;
    -fx-border-color: #3f2ba4;
}
.forgotpass{
    -fx-text-fill: linear-gradient(#f24537, #c62d1f);
}
.forgotpass:hover{
    -fx-text-fill: darkred;
}
.forgotpass:pressed {
    -fx-text-fill: linear-gradient(#d73826, #f56a4b);
    -fx-opacity: 0.7;
}