/*
 * Empty Stylesheet file.
 */

.containerMainglass {
    -fx-background-color: #68afd5;
    -fx-effect: dropshadow(three-pass-box, rgba(31, 38, 135, 0.37), 8, 0.0, 0, 1);
    -fx-background-radius: 10px;
    -fx-border-color: rgba(255, 255, 255, 0.18);
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-blur: 42px;
    -fx-background-clip: padding-box;
}

.containerMainglass:hover {
    -fx-background-color:  #2b53d7;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.containerMainglass:pressed {
    -fx-background-color: #2b53d7;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}